In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [4]:
print(10,10.5,'Naresh IT',True)

10 10.5 Naresh IT True

In [6]:
n1=10
n2=20
print(n1,n2)

10 20

In [9]:
print(10),print(20) # Good

10
20

(None, None)

In [11]:
print(10,20,30)
print(10),print(20)

# None: No value

10 20 30
10
20

(None, None)

In [12]:
n1=10
n1

10

In [13]:
print(10)
print(20)

10
20

In [14]:
print(10,20)

10 20

In [15]:
print(10),print(20)

10
20

(None, None)

In [16]:
10,20

(10, 20)

In [17]:
n1=10
n2=20
n1,n2

(10, 20)

In [23]:
a=100
b=200
c=a+b
# the addition of 10 and 20 is 30
print("the addition of 10 and 20 is 30")
print("the addition of", a,"and",b,"is",c)

the addition of 10 and 20 is 30
the addition of 100 and 200 is 300

**format**

In [24]:
a=100
b=200
c=a+b
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 100 and 200 is 300

In [29]:
# read your name
# read your age
# read your city
# My name is python, Im 10 years old Im from hyderabad
name='python'
age=10
city='hyd'
print("my name is {},im {} years old and Im from {}".format(city,age,name))

my name is hyd,im 10 years old and Im from python

In [33]:
# employee name
# employee role
# company

name='Omkar'
role='DS'
company='Google'
print("my name is {}, I want to become {} in {} Company".format(name,role,company))

my name is Omkar, I want to become DS in Google Company

**f string**

In [38]:
a=100
b=200
c=a+b
print(f"the addition of {a} and {b} is {c}")

the addition of 100 and 200 is 300

In [40]:
name='python'
age=10
city='hyd'
print(f"my name is {name},im {age} years old and Im from {city}")

my name is python,im 10 years old and Im from hyd

In [42]:
name='Omkar'
role='DS'
company='Google'
print(f"my name is {name}, I want to become {role} in {company} Company")

my name is Omkar, I want to become DS in Google Company

In [5]:
num1=100
num2=200
average=(num1+num2)/2
# the avergae of 100 and 200 is: 150
print("the avergae of {} and {} is: {}".format(num1,num2,average))
print(f"the avergae of {num1} and {num2} is: {average}")

the avergae of 100 and 200 is: 150.0
the avergae of 100 and 200 is: 150.0

In [8]:
num1=100
num2=200
average=(num1=num2)/2
# the avergae of 100 and 200 is: 150
print("the avergae of {} and {} is: {}".format(num1,num2,average))
print(f"the avergae of {num1} and {num2} is: {average}")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (851710863.py, line 3)

In [7]:
(10+2)/2
10+2/2

# BODMAS

11.0

In [10]:
# take the radius of circle
# take the pi value=3.14
# Find the area of the circle = pi*r*r

radius=10
pi_value=3.14
area=pi_value*radius*radius
print("The area of circle is:{}".format(area))
print(f"The area of circle is:{area}")

The area of circle is:314.0
The area of circle is:314.0

- format spelling

- brackets are not providing

- .  you are keeping ,

- for getting the quotes also

In [11]:
# take the base of traingle
# take the height of the traingle
# area of the traingle=1/2*base*height
base=10
height=20
area=0.5*base*height
print(f"the area of traingle is: {area}")

the area of traingle is: 100.0

In [12]:
# take the bill_amount =1000
# take the tip_percentage =10
# calculate tip_amount
# calculate the total bill
# print the total bill
bill_amount=1000
tip_percentage=10    # M-1
tip_amount=bill_amount*tip_percentage/100
total_bill=bill_amount+tip_amount
print(f"the total bill is: {total_bill}")

the total bill is: 1100.0

In [13]:
print(10)
print(20)

10
20

In [14]:
print(10,20)

10 20

$end$

- combining multiple print statements in a single line

In [21]:
print(10,end=' ')
print(20)

10 20

In [25]:
print(10,end=',')
print(20,end='&')
print(30)

10,20&30

$sep$

- Seperate the multiple values in a single print statement

In [28]:
print(10,20,30,sep='&')

# 10 & 20 & 30

10&20&30

In [29]:
print(10,20,30,sep='--->')

10--->20--->30

In [31]:
print(f"the addition of {5} and {3} is {5+3}.")

the addition of 5 and 3 is 8.

In [32]:
print("the addition of {} and {} is {}.".format(5,3,5+3))

the addition of 5 and 3 is 8.

In [38]:
print('the addition of 5 and 3 is 8','.',sep='')

the addition of 5 and 3 is 8.