In [ ]:
**Dictionary**


- We already seen many Data types

- String

- List

- Tuple

- Set

- Dictionary

- int float bool complex

- range 

- bytes
- eval is not a data type

In [ ]:
# By using lambda list reduce

str=b'hello'

In [ ]:
string=''
list=[]
tuple=()
set={}
dictionary={key:value}

In [ ]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
# Print 
# Ramesh age is 20

**zip**

In [3]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]

for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 25
Satish 30

In [5]:
list(zip(names,age))

[('Ramesh', 20), ('Suresh', 25), ('Satish', 30)]

In [ ]:
#dict1={<key>:<value>}
#names=['Ramesh','Suresh','Satish']
#age=[20,25,30]
#'Ramesh'  is  the key ====== 20 its related value
dict1={'Ramesh':20,'Suresh':25,'Satish':30}

In [6]:
dict1={'Ramesh':20,'Suresh':25,'Satish':30}
type(dict1)

dict

In [ ]:
#If the list are of different length?
#if both lists are different lenght 
#zip will not work

- intialization

- type

- max

- min

- len

- reversed

- sorted

- in

- index

- mutable

- concate

- slicing

- methods

**Create all type of dictionaries**

In [ ]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
d2={'Manish':'25','Shubam':'20','Govindh':'15'} 
d3={25:'Manish',20:'Shubam',15:'Govindh'} 
d4={25:50} 
d5={'Fruites':['Apple','Cherry']} 
d6={['Apple','Cherry']:'Fruites'} 
d7={('Apple','Cherry'):'Fruites'} 
d8={'Ajay':25,'Ajay':30}
d9={25:'Ajay',30:'Ajay'} 
d10={'Fruites':{'Mango':25}}

In [7]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
d1

{'Manish': 25, 'Shubam': 20, 'Govindh': 15}

In [8]:
d2={'Manish':'25','Shubam':'20','Govindh':'15'} 
d2

{'Manish': '25', 'Shubam': '20', 'Govindh': '15'}

In [9]:
d3={25:'Manish',20:'Shubam',15:'Govindh'} 
d3

{25: 'Manish', 20: 'Shubam', 15: 'Govindh'}

In [10]:
d4={25:50}

In [11]:
d5={'Fruites':['Apple','Cherry']} 
d5

{'Fruites': ['Apple', 'Cherry']}

In [12]:
d6={['Apple','Cherry']:'Fruites'} 
d6

TypeError: unhashable type: 'list'

In [13]:
d7={('Apple','Cherry'):'Fruites'}
d7

{('Apple', 'Cherry'): 'Fruites'}

In [14]:
d8={'Ajay':25,'Ajay':30}
d8

{'Ajay': 30}

In [15]:
d9={25:'Ajay',30:'Ajay'} 
d9

{25: 'Ajay', 30: 'Ajay'}

- **keys are important**

- Keys have only latest value

- No duplicate keys

- Keys should be only one 

- Values can be duplicate 

- which means different keys can have same value

- List can not be a key, Because lists are mutable

- tuple can be a key, Because tuple are immutable

In [ ]:
d1={'Manish':25,'Shubam':20,'Govindh':15} # 'Shubam'
d2={'Manish':'25','Shubam':'20','Govindh':'15'}  # 'Shubam'
d3={25:'Manish',20:'Shubam',15:'Govindh'}  # 25
d4={'Manish':25,'Shubam':'20','Govindh':15} # 'Shubal'
d5={25:'Manish','20':'Shubam',15:'Govindh'} # Error
d6={'Manish':20,'Shubam':20,'Govindh':20} # 'Shubam'
d7={20:'Manish',20:'Shubam',20:'Govindh'} # 20

In [16]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
max(d1)

# Operations apply on keys
# Keys are important

'Shubam'

In [17]:
d2={'Manish':'25','Shubam':'20','Govindh':'15'} 
max(d2)

'Shubam'

In [18]:
d3={25:'Manish',20:'Shubam',15:'Govindh'} 
max(d3)

25

In [19]:
d4={'Manish':25,'Shubam':'20','Govindh':15}
max(d4)

'Shubam'

In [20]:
l=['A',2]
max(l)

TypeError: '>' not supported between instances of 'int' and 'str'

In [21]:
d5={25:'Manish','20':'Shubam',15:'Govindh'}
max(d5)

TypeError: '>' not supported between instances of 'str' and 'int'

In [22]:
d7={20:'Manish',20:'Shubam',20:'Govindh'}
max(d7)

20

In [23]:
d7={20:'Manish',20:'Shubam',20:'Govindh'}
d7

{20: 'Govindh'}

In [24]:
d4={'Manish':25, 'Shubam': '20', 'Govindh':15}
max(d4)

'Shubam'

**reversed**

- you might have think dictionary will reverse

- when you apply reveresd , then you got to know

- only keys will come in reverse

In [26]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
list(reversed(d1))

['Govindh', 'Shubam', 'Manish']

In [27]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
list(sorted(d1))

['Govindh', 'Manish', 'Shubam']

In [28]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
list(sorted(d1,reverse=True))

['Shubam', 'Manish', 'Govindh']

In [29]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
for i in d1:
    print(i)

Manish
Shubam
Govindh

In [31]:
'Manish' in d1

True

**Index**

In [32]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
# If you want retrive the values
# Python will never give  'Manish':25
d1[0]

KeyError: 0

In [33]:
d1['Manish']

25

In [1]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
# Dictionary is a key:value pair
# We can not use index number directly
# whenever you want to call a value, we will use key
d1['Manish']
d1['Shubam']
d1['Govindh']

d1[i]

25

In [4]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
for i in d1:
    print(f"{i} has age {d1[i]}")

Manish has age 25
Shubam has age 20
Govindh has age 15

In [5]:
names=['Vignesh','Mohit','Nagesh']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} has age {j}")

Vignesh has age 20
Mohit has age 25
Nagesh has age 30

**Dictionary to list**

In [9]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
keys,values=[],[]
for i in d1:
    keys.append(i)
    values.append(d1[i])
values

[25, 20, 15]

In [10]:
keys=[i for i in d1]
values=[d1[i] for i in d1]

**How to create a empty list**

In [11]:
l=[]
l.append(20)
l

[20]

**empty string**

In [12]:
s=''
s=s+'a'
s

'a'

**empty dictionary**

In [ ]:
d={}
d[<key>]=<value>

In [13]:
d={}
d['Vignesh']=20
d['Mohit']=25
d['Nagesh']=30
#d[i]=j

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}

In [14]:
names=['Vignesh','Mohit','Nagesh']
age=[20,25,30]
NAMES={}
for i,j in zip(names,age):
    NAMES[i]=j
NAMES

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}

**string to list**

In [17]:
s='hello hai hai how how are you'
s.split()

['hello', 'hai', 'hai', 'how', 'how', 'are', 'you']

**Word frequency**

In [21]:
# i/p: s='hello hai hai how how are you'
#o/p:{'hello':1,'hai':2,'how':2,'are':1,'you':2}
# idea
# step-1: split the string: List of words
# step-2: Iterate using the list
#         each word will come apply the count
#         word key, count become value
#step-3: Make a dictionary

s='hello hai hai how how are you'
words_list=s.split()
words_list
dict1={}
for word in words_list:
    dict1[word]=s.count(word)
dict1

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

In [ ]:
string1="""Data science is an interdisciplinary academic field that uses statistics, 
          scientific computing, scientific methods, processes, scientific visualization, 
          algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.
         Data science also integrates domain knowledge from the underlying applicatin.Data science is multifaceted and can be described as a science, 
         a research paradigm, a research method, a discipline, a workflow, and a profession."""

#task -1: in the above sentence you need to remove a,an,is,the
# task-2: Data first letter Ascii value: 68
#         scince first letter Ascii value : 115

{'Data':68,'science':115}

**Mutable-immutable**

- Change the elements using index

- But In dictionary there is no index

- In dictionary we wil change the value based on key only

- instead of using the index, change the values using key

- if it is change it is Mutable

- if it is not change it is Immutable

In [22]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d['Nagesh']=22
d

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 22}

- List and Dictionary are mutable

- tuple and strings are immutable

- Difference between list and Tuple

In [24]:
d={'Fruites':['Mango']}
d['Fruites'][0]

'Mango'

In [25]:
d={'Fruites':[{'Apple':['Kashmir']}]}
d

{'Fruites': [{'Apple': ['Kashmir']}]}

In [30]:
d['Fruites'][0]['Apple'][0]

'Kashmir'

In [32]:
d={'Fruites':[
    {'Apple':
     {'Kashmir':
      ['India']
     }
    }
     ]
  }
d

{'Fruites': [{'Apple': {'Kashmir': ['India']}}]}

In [37]:
d['Fruites'][0]['Apple']['Kashmir'][0]

'India'

In [38]:
d={'Fruites':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d

{'Fruites': {'Benganapalli': {'Mango': {'Nagpur': {'MH': {'Shivaji': {'Shambaji'}}}}}}}

In [47]:
d['Fruites']['Benganapalli']['Mango']['Nagpur']['MH']['Shivaji']

{'Shambaji'}